
body {
  font-family: Roboto, sans-serif;
  background-color: $bg-dark;
  color: $bg-text;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  // font-weight: bold;
  color: $is-active;
}

// .col-md-6 {
//   border: solid 2p green;
// }

// .row {
//   border: 2px solid red;
// }

// .col {
//   border: solid 2px green;
// }