
body {
  font-family: Roboto, sans-serif;
  background-color: $bg-main;
  color: $bg-text;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  color: $is-active;
}