// Colors
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.2rem;
$xl-size: 4.8rem;
$icon-small: 40px;
$icon-large: 50px;
$icon-xl: 60px;
$nav-height: 62px;
$desktop-breakpoint: 45rem;

$bg-dim: #303030;
$bg-main: #121212;
$bg-elevated: rgba(255,255,255, 0.05);
$bg-button: rgba(255,255,255, 0.12);
$bg-light: #ffff;
$bg-dark: #000000;
$secondary: #f5cb5c;
$secondary_hover: #f5cc5c15;
$text-dim: #afadad;
$is-active: #fca311;
