// Colors
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.2rem;
$xl-size: 4.8rem;
$icon-small: 40px;
$icon-large: 50px;
$icon-xl: 60px;
$desktop-breakpoint: 45rem;

$bg-dim: #141414;
$bg-dark: #0f0f0f;
$bg-main: #000000;
$secondary: #f5cb5c;
$secondary_hover: #f5cc5cc9;
$bg-text: #afadad;
$is-active: #fca311;
