// Colors
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

$bg-gun: #343A40;
$bg-main: #000000;
$secondary: #f5cb5c;
$secondary_hover: #f5cc5cc9;
$bg-text: #afadad;
$is-active: #fca311;
