@import "../../../node_modules/rfs/scss.scss";

.about-sum {
    @include font-size(1.2rem);
}

.about-profile {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.profile {
    box-shadow: 15px -15px 0 0px $bg-main, 15px -15px 0 1px $secondary;
    transition: box-shadow 0.2s;
    border-radius: 1rem;
}
.profile:hover {
    box-shadow: 10px -10px 0 0px $bg-main, 10px -10px 0 1px $secondary;
}
