
#experience h2 {
    display: inline-block;
    position: relative;
    
    // Short Underline 
    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: 50%;
    //     height: 1px;
    //     bottom: 0;
    //     left: 25%;
    //     border-bottom: 2px solid $secondary;
    // }
}

.exp-contain {
    // height: 70vh;
}

.expItem .headline {
    @include font-size(1.3rem);
    padding-left: 5px;
    color: white;
    & .company {
        color: $secondary;
    }
}

.expItem ul {
    list-style-type: none;
    text-align: start
}

.expItem .dates {
    @include font-size(0.9rem)
}

#experience .expItem li {
    @include font-size(1rem);
    font-weight: 400;
    line-height: 1.7rem; 
    padding-bottom: 1rem;
    padding-left: 27px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    &::before {
        content: '▹';
        color: $secondary;
        position: absolute;
        left: 0px;
    }
}

