
.navbar-nav a:hover {
    color: $secondary-hover;
}

.navbar-nav a {
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: $bg-text;
}

.navbar-nav a {
    transition: all 0.2s;
}

a.is-active {
    border-bottom: solid .187rem $is-active;
    color: $secondary;
}

.navbar-toggler {
    background-color: #313233bb;
    // opacity: 50%;
    border-radius: 1rem;
}

.menuIcon {
    color: white;
    font-size: 3rem;
    transform: scale(-1, 1);
}

.header {
    padding-left: 3rem;
}

.header.active {
    font-size: $s-size;
    background-color: $bg-dim;
    box-shadow: 5px;
}