
.navbar-nav a:hover {
    color: $secondary-hover;
}

.navbar-nav a {
    font-size: 1rem;
    text-decoration: none;
    color: $bg-text;
}

.navbar-nav a {
    transition: all 0.2s;
}

a.is-active {
    border-bottom: solid .187rem $is-active;
    color: $secondary;
}

.navbar-toggler {
    background-color: #313233bb;
    border-radius: 1rem;
}

.menuIcon {
    color: $secondary;
    transform: scale(-1, 1);
}

.header {
    height: $nav-height;
    padding-left: 3rem;
    background-color: $bg-main;
    padding-bottom: 0;
    // border: 1px solid red;
}
