@import "../../../node_modules/rfs/scss.scss";

.navbar-nav a:hover {
    color: $secondary-hover;
}

.navbar-nav a {
    font-size: 1rem;
    text-decoration: none;
    color: $text-dim;
}

.navbar-nav a {
    transition: transform 0.2s;
}

a.is-active {
    border-bottom: solid 0.187rem $is-active;
    color: $secondary;
}

.navbar-toggler {
    background-color: #313233bb;
    border-radius: 1rem;
}

.menuIcon {
    transform: scale(-1, 1);
}

nav a.nav-item {
    margin-left: 2rem;
    margin-right: 2rem;
}

a.nav-item {
    @include font-size(1.3rem);
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
}
