@import "../../../node_modules/rfs/scss.scss";

.section {
    height: calc(100vh - #{$nav-height});
}

.particle {
    position: absolute;
    margin-top: $nav-height;
    height: calc((100vh - #{$nav-height}) * 3);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.section .title {
    @include font-size(2.8rem);
    color: white
}

.section .subTitle {
    @include font-size(1.3rem)
}

.header_tag {
    @include font-size(1.2rem);
    color: $secondary;
    font-weight: 300;
}

.header_name::after {
    content: ".";
    color: $secondary;
}
.header_name {
    @include font-size(4rem);
    font-weight: bold;
    color: white;
}

.header_sub {
    @include font-size(2.6rem);
    color: $text-dim;
    font-weight: bold;
}

.header_sum {
    @include font-size(1.1rem);
    line-height: 1.4em;
    font-weight: 300;
}

.btn-group {
    & a {
        font-size: $icon-small;
        transition: transform 0.2s, color 0.2s;
        padding: 20px;
        &:hover {
            transform: scale(1.3);
            color: $secondary;
        }
    }
    & .emailBtn {
        font-size: $icon-small;
        transition: transform 0.2s, color 0.2s;
        &:hover {
            transform: scale(1.3);
            color: $secondary;
        }
    }
}

.info_btn:hover {
    transform: scale(1.1);
}
