@import '../../../node_modules/rfs/scss.scss';

.profile {
    height: 50%;
    width: 50%;
}

.icon_btn {
    box-shadow: 0 0px 10px white;
}
.home {
    height: 92vh;
}

.header_tag {
    @include font-size(1.4rem);
    color: white;
}

.header_name::after {
    content: ".";
    color: $secondary;
}
.header_name {
    @include font-size(2.5rem);
    font-weight: bold;
    color: white;
}

.header_sub {
    @include font-size(2.5rem);
    color: $bg-text;
    font-weight: bold;
}

.profile {
    box-shadow: 15px -15px 0 0px $bg-main, 15px -15px 0 1px $secondary;
    transition: box-shadow 0.2s;
}
.profile:hover {
    box-shadow: 10px -10px 0 0px $bg-main, 10px -10px 0 1px $secondary;
}

.btn-group {
    & a {
        font-size: $icon-small;
        transition: transform 0.2s;
        padding: 20px;
        &:hover {
            transform: scale(1.3);
            color: $secondary;
        }
    }
    & .emailBtn {
        font-size: $icon-small;
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.3);
            color: $secondary;
        }
    }
}

svg.expandBtn {
    font-size: $icon-large;
    transition: transform 0.2s;
    &:hover {
        transform: scale(1.5);
    }
}

// .col-md-6:nth-child(1) {
//     background-color: red;
// }

// .row:nth-child(1) {
//     background-color: green;
// }
