.description__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    &:hover{
        transform: scale(1.1);
        background-color: rgba($color: #000000, $alpha: 0.8);
        opacity: 1;
    }
}

.image__item {
    transition: transform 0.5s ease-in-out;
}

.image__item.grow {
    transform: scale(1.1);
}

.social__icons {
    width: 8em;
}

a:hover {
    color: $secondary;
}

.proj__summary p {
    line-height: normal;
    word-wrap: break-word;
    color: $text-dim;
}
.sum__tools {
    @include font-size(0.7rem)
}

